In [1]:
# Import dependencies
import pandas as pd
import numpy as np

In [2]:
# Set file path
csvpath = "Resources/2016-precinct-president.csv"

# Read csv and preview dataframe
prec_df = pd.read_csv(csvpath, encoding="ISO-8859-1")
pd.set_option('display.max_columns', None)
prec_df.head()

C:\Users\test\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (13,17,19,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,year,stage,special,state,state_postal,state_fips,state_icpsr,county_name,county_fips,county_ansi,county_lat,county_long,jurisdiction,precinct,candidate,candidate_normalized,office,district,writein,party,mode,votes,candidate_opensecrets,candidate_wikidata,candidate_party,candidate_last,candidate_first,candidate_middle,candidate_full,candidate_suffix,candidate_nickname,candidate_fec,candidate_fec_name,candidate_google,candidate_govtrack,candidate_icpsr,candidate_maplight
0,2016,gen,False,Alabama,AL,1,41,Autauga County,1001.0,161526.0,32.532237,-86.64644,Autauga,10 JONES COMMUNITY CTR,Hillary Clinton,clinton,US President,statewide,False,democratic,election day,135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P00003392,"CLINTON, HILLARY RODHAM / TIMOTHY MICHAEL KAINE",NaN,NaN,NaN,NaN
1,2016,gen,False,Alabama,AL,1,41,Autauga County,1001.0,161526.0,32.532237,-86.64644,Autauga,10 JONES COMMUNITY CTR,Gary Johnson,johnson,US President,statewide,False,independent,election day,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P60012234,"JOHNSON, JOHN FITZGERALD MR.",NaN,NaN,NaN,NaN
2,2016,gen,False,Alabama,AL,1,41,Autauga County,1001.0,161526.0,32.532237,-86.64644,Autauga,10 JONES COMMUNITY CTR,Jill Stein,stein,US President,statewide,False,independent,election day,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P20003984,"STEIN, JILL",NaN,NaN,NaN,NaN
3,2016,gen,False,Alabama,AL,1,41,Autauga County,1001.0,161526.0,32.532237,-86.64644,Autauga,10 JONES COMMUNITY CTR,Donald Trump,trump,US President,statewide,False,republican,election day,218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P80001571,"TRUMP, DONALD J. / MICHAEL R. PENCE",NaN,NaN,NaN,NaN
4,2016,gen,False,Alabama,AL,1,41,Autauga County,1001.0,161526.0,32.532237,-86.64644,Autauga,10 JONES COMMUNITY CTR,[Write-in],in,US President,statewide,True,NaN,election day,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Exploring the data

In [ ]:
# List of Columns
prec_df.columns

In [ ]:
# Getting the value counts for all the states
prec_df['state'].value_counts()

# Minnesota

In [3]:
# Only interested in Minnesota precincts
mn_df = prec_df.loc[prec_df['state'] == 'Minnesota']
mn_df.head()

,year,stage,special,state,state_postal,state_fips,state_icpsr,county_name,county_fips,county_ansi,county_lat,county_long,jurisdiction,precinct,candidate,candidate_normalized,office,district,writein,party,mode,votes,candidate_opensecrets,candidate_wikidata,candidate_party,candidate_last,candidate_first,candidate_middle,candidate_full,candidate_suffix,candidate_nickname,candidate_fec,candidate_fec_name,candidate_google,candidate_govtrack,candidate_icpsr,candidate_maplight
1124002,2016,gen,False,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN TWP|10,Darrell Castle,castle,US President,statewide,False,constitution,total,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P60021102,"CASTLE, DARRELL LANE",NaN,NaN,NaN,NaN
1124003,2016,gen,False,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN TWP|10,Hillary Clinton,clinton,US President,statewide,False,Democratic-Farmer-Labor,total,154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P00003392,"CLINTON, HILLARY RODHAM / TIMOTHY MICHAEL KAINE",NaN,NaN,NaN,NaN
1124004,2016,gen,False,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN TWP|10,Rocky De La Fuente,fuente,US President,statewide,False,american delta,total,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P60016342,"DE LA FUENTE, ROQUE ROCKY",NaN,NaN,NaN,NaN
1124005,2016,gen,False,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN TWP|10,Gary Johnson,johnson,US President,statewide,False,libertarian,total,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P60012234,"JOHNSON, JOHN FITZGERALD MR.",NaN,NaN,NaN,NaN
1124006,2016,gen,False,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN TWP|10,Jill Stein,stein,US President,statewide,False,green,total,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P20003984,"STEIN, JILL",NaN,NaN,NaN,NaN

In [4]:
# Keep only the columns we're interested in
# Want to come back and remove more once I get a little deeper into it
mn_df = mn_df[['year', 'state', 'state_postal', 'state_fips', 'state_icpsr', 'county_name',
               'county_fips', 'county_ansi', 'county_lat', 'county_long', 'jurisdiction',
               'precinct', 'candidate_normalized', 'mode', 'votes', 'candidate_fec']]
mn_df.head(11)

,year,state,state_postal,state_fips,state_icpsr,county_name,county_fips,county_ansi,county_lat,county_long,jurisdiction,precinct,candidate_normalized,mode,votes,candidate_fec
1124002,2016,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN TWP|10,castle,total,1,P60021102
1124003,2016,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN TWP|10,clinton,total,154,P00003392
1124004,2016,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN TWP|10,fuente,total,0,P60016342
1124005,2016,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN TWP|10,johnson,total,18,P60012234
1124006,2016,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN TWP|10,stein,total,5,P20003984
1124007,2016,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN TWP|10,trump,total,356,P80001571
1124008,2016,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN TWP|10,in,total,4,NaN
1124009,2016,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN TWP|10,mcmullin,total,7,P60022654
1124010,2016,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN TWP|10,kennedy,total,0,NaN
1124011,2016,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN TWP|10,vacek,total,2,NaN
1124012,2016,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN|5,castle,total,3,P60021102

In [5]:
# TEST dataframe to work thru looping thru votes, using two precincts
test_df = mn_df.loc[(mn_df['precinct'] == 'AITKIN TWP|10') | (mn_df['precinct'] == 'AITKIN|5')]
test_df

,year,state,state_postal,state_fips,state_icpsr,county_name,county_fips,county_ansi,county_lat,county_long,jurisdiction,precinct,candidate_normalized,mode,votes,candidate_fec
1124002,2016,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN TWP|10,castle,total,1,P60021102
1124003,2016,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN TWP|10,clinton,total,154,P00003392
1124004,2016,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN TWP|10,fuente,total,0,P60016342
1124005,2016,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN TWP|10,johnson,total,18,P60012234
1124006,2016,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN TWP|10,stein,total,5,P20003984
1124007,2016,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN TWP|10,trump,total,356,P80001571
1124008,2016,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN TWP|10,in,total,4,NaN
1124009,2016,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN TWP|10,mcmullin,total,7,P60022654
1124010,2016,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN TWP|10,kennedy,total,0,NaN
1124011,2016,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN TWP|10,vacek,total,2,NaN
1124012,2016,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN|5,castle,total,3,P60021102
1124013,2016,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN|5,clinton,total,358,P00003392
1124014,2016,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN|5,fuente,total,0,P60016342
1124015,2016,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN|5,johnson,total,36,P60012234
1124016,2016,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN|5,stein,total,2,P20003984
1124017,2016,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN|5,trump,total,552,P80001571
1124018,2016,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN|5,in,total,6,NaN
1124019,2016,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN|5,mcmullin,total,21,P60022654
1124020,2016,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN|5,kennedy,total,1,NaN
1124021,2016,Minnesota,MN,27,33,Aitkin County,27001.0,663198.0,46.602446,-93.41976,Aitkin,AITKIN|5,vacek,total,7,NaN

In [6]:
# Just look at precincts and votes for now
test2_df = test_df[['precinct', 'votes']]
test2_df

              precinct  votes
1124002  AITKIN TWP|10      1
1124003  AITKIN TWP|10    154
1124004  AITKIN TWP|10      0
1124005  AITKIN TWP|10     18
1124006  AITKIN TWP|10      5
1124007  AITKIN TWP|10    356
1124008  AITKIN TWP|10      4
1124009  AITKIN TWP|10      7
1124010  AITKIN TWP|10      0
1124011  AITKIN TWP|10      2
1124012       AITKIN|5      3
1124013       AITKIN|5    358
1124014       AITKIN|5      0
1124015       AITKIN|5     36
1124016       AITKIN|5      2
1124017       AITKIN|5    552
1124018       AITKIN|5      6
1124019       AITKIN|5     21
1124020       AITKIN|5      1
1124021       AITKIN|5      7

In [7]:
# Create a new column of 'total_votes' and first populate with 'Nan' values (is there a faster way to do this?)
test2_df['total_votes'] = np.nan
test2_df = test2_df[['precinct', 'votes', 'total_votes']]
test2_df

C:\Users\test\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

              precinct  votes  total_votes
1124002  AITKIN TWP|10      1          NaN
1124003  AITKIN TWP|10    154          NaN
1124004  AITKIN TWP|10      0          NaN
1124005  AITKIN TWP|10     18          NaN
1124006  AITKIN TWP|10      5          NaN
1124007  AITKIN TWP|10    356          NaN
1124008  AITKIN TWP|10      4          NaN
1124009  AITKIN TWP|10      7          NaN
1124010  AITKIN TWP|10      0          NaN
1124011  AITKIN TWP|10      2          NaN
1124012       AITKIN|5      3          NaN
1124013       AITKIN|5    358          NaN
1124014       AITKIN|5      0          NaN
1124015       AITKIN|5     36          NaN
1124016       AITKIN|5      2          NaN
1124017       AITKIN|5    552          NaN
1124018       AITKIN|5      6          NaN
1124019       AITKIN|5     21          NaN
1124020       AITKIN|5      1          NaN
1124021       AITKIN|5      7          NaN

In [8]:
# Now turn the 'Nan' values to 0's
test2_df['total_votes'] = test2_df['total_votes'].fillna(0)
test2_df

              precinct  votes  total_votes
1124002  AITKIN TWP|10      1          0.0
1124003  AITKIN TWP|10    154          0.0
1124004  AITKIN TWP|10      0          0.0
1124005  AITKIN TWP|10     18          0.0
1124006  AITKIN TWP|10      5          0.0
1124007  AITKIN TWP|10    356          0.0
1124008  AITKIN TWP|10      4          0.0
1124009  AITKIN TWP|10      7          0.0
1124010  AITKIN TWP|10      0          0.0
1124011  AITKIN TWP|10      2          0.0
1124012       AITKIN|5      3          0.0
1124013       AITKIN|5    358          0.0
1124014       AITKIN|5      0          0.0
1124015       AITKIN|5     36          0.0
1124016       AITKIN|5      2          0.0
1124017       AITKIN|5    552          0.0
1124018       AITKIN|5      6          0.0
1124019       AITKIN|5     21          0.0
1124020       AITKIN|5      1          0.0
1124021       AITKIN|5      7          0.0

In [9]:
# TESTING
print(test2_df.iloc[0, 1])
print("-----")
print("Want next line to print '154':")
print(test2_df.iloc[1, 1])
print("Printing Aitkin TWP|10?:")
print(test2_df.iloc[0,0])

1
-----
Want next line to print '154':
154
Printing Aitkin TWP|10?:
AITKIN TWP|10

In [ ]:
total = []
new_number_total = 0
for i in range(len(test2_df)):
    new_number = test2_df.iloc[i, 1]
    new_number_total = new_number_total + new_number
    print(f"New number: {new_number}; New number total: {new_number_total}")
    total.append(new_number)
print(total)
print(new_number_total)
test2_df

In [15]:
total = []
new_number_total = 0

for i in range(1, len(test2_df)):
    if test2_df.iloc[i, 0] == test2_df.iloc[i - 1, 0]:
        new_number = test2_df.iloc[i-1, 1]
        new_number_total = new_number_total + new_number
        print(f"New number: {new_number}; New number total: {new_number_total}")
        total.append(new_number)
    else:
        new_number = 1
        new_number_total = new_number_total + new_number
print(total)
print(new_number_total)
test2_df

New number: 1; New number total: 1
New number: 154; New number total: 155
New number: 0; New number total: 155
New number: 18; New number total: 173
New number: 5; New number total: 178
New number: 356; New number total: 534
New number: 4; New number total: 538
New number: 7; New number total: 545
New number: 0; New number total: 545
New number: 3; New number total: 549
New number: 358; New number total: 907
New number: 0; New number total: 907
New number: 36; New number total: 943
New number: 2; New number total: 945
New number: 552; New number total: 1497
New number: 6; New number total: 1503
New number: 21; New number total: 1524
New number: 1; New number total: 1525
[1, 154, 0, 18, 5, 356, 4, 7, 0, 3, 358, 0, 36, 2, 552, 6, 21, 1]
1525

              precinct  votes  total_votes
1124002  AITKIN TWP|10      1          0.0
1124003  AITKIN TWP|10    154          0.0
1124004  AITKIN TWP|10      0          0.0
1124005  AITKIN TWP|10     18          0.0
1124006  AITKIN TWP|10      5          0.0
1124007  AITKIN TWP|10    356          0.0
1124008  AITKIN TWP|10      4          0.0
1124009  AITKIN TWP|10      7          0.0
1124010  AITKIN TWP|10      0          0.0
1124011  AITKIN TWP|10      2          0.0
1124012       AITKIN|5      3          0.0
1124013       AITKIN|5    358          0.0
1124014       AITKIN|5      0          0.0
1124015       AITKIN|5     36          0.0
1124016       AITKIN|5      2          0.0
1124017       AITKIN|5    552          0.0
1124018       AITKIN|5      6          0.0
1124019       AITKIN|5     21          0.0
1124020       AITKIN|5      1          0.0
1124021       AITKIN|5      7          0.0

In [16]:
for i in range(10):
    test2_df.iloc[i, 2] = new_number_total
test2_df

              precinct  votes  total_votes
1124002  AITKIN TWP|10      1       1525.0
1124003  AITKIN TWP|10    154       1525.0
1124004  AITKIN TWP|10      0       1525.0
1124005  AITKIN TWP|10     18       1525.0
1124006  AITKIN TWP|10      5       1525.0
1124007  AITKIN TWP|10    356       1525.0
1124008  AITKIN TWP|10      4       1525.0
1124009  AITKIN TWP|10      7       1525.0
1124010  AITKIN TWP|10      0       1525.0
1124011  AITKIN TWP|10      2       1525.0
1124012       AITKIN|5      3          0.0
1124013       AITKIN|5    358          0.0
1124014       AITKIN|5      0          0.0
1124015       AITKIN|5     36          0.0
1124016       AITKIN|5      2          0.0
1124017       AITKIN|5    552          0.0
1124018       AITKIN|5      6          0.0
1124019       AITKIN|5     21          0.0
1124020       AITKIN|5      1          0.0
1124021       AITKIN|5      7          0.0

In [ ]:
# Need to add a column with total precinct votes
# Will have one value for each precinct

In [ ]:
mn_df.groupby(['precinct']).sum()