Exploratory Data Anlysis for Presendial Elections by State and County

In [ ]:
# load packges

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
pwd

# Presadential Elections by State and County 1976-2016

In [ ]:
# load file for just state
file = "1976-2016_Presidential.csv"
df = pd.read_csv(file)
df.tail(5)

In [24]:
# load file that segments by county
file2 = "countypres_2000-2016.csv"
df = pd.read_csv(file2)
df.head()

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version
0,2000,Alabama,AL,Autauga,1001.0,President,Al Gore,democrat,4942.0,17208,20191203
1,2000,Alabama,AL,Autauga,1001.0,President,George W. Bush,republican,11993.0,17208,20191203
2,2000,Alabama,AL,Autauga,1001.0,President,Ralph Nader,green,160.0,17208,20191203
3,2000,Alabama,AL,Autauga,1001.0,President,Other,NaN,113.0,17208,20191203
4,2000,Alabama,AL,Baldwin,1003.0,President,Al Gore,democrat,13997.0,56480,20191203

In [ ]:
# find percentage of votes per county
#TODO..how does this work? How can I get it to print out the results? Or take input? laso format it to 2 decmil places

def find_percent():
    '''function to perofrm operations to find total percent and put in new columns'''
    df2['percent'], '.2f') = df2['candidatevotes'] / df2['totalvotes'],
    #df2(format, '.2f')
find_percent()
#print(format(myFloat, '.2f'));  
# 
# TODO fix this
#

In [ ]:
df.head()

In [ ]:
# remove unneeded columns
df.drop('version')
# TODO fix

perforem some groupby operations to learn more about dataset

In [14]:
# # votes per canidate per county
df.groupby(['state','county','candidate']).sum()
#TODO create a function for this groupby.coun

                                  year      FIPS  candidatevotes  totalvotes  \
state   county  candidate
Alabama Autauga Al Gore           2000    1001.0          4942.0       17208
                Barack Obama      4020    2002.0         12456.0       47573
                Donald Trump      2016    1001.0         18172.0       24973
                George W. Bush    4004    2002.0         27189.0       37289
                Hillary Clinton   2016    1001.0          5936.0       24973
...                                ...       ...             ...         ...
Wyoming Weston  John Kerry        2004   56045.0           580.0        3392
                John McCain       2008   56045.0          2618.0        3414
                Mitt Romney       2012   56045.0          2821.0        3359
                Other            10040  280225.0           585.0       16751
                Ralph Nader       2000   56045.0            26.0        3060

                                   version
state   county  candidate
Alabama Autauga Al Gore           20191203
                Barack Obama      40382406
                Donald Trump      20191203
                George W. Bush    40382406
                Hillary Clinton   20191203
...                                    ...
Wyoming Weston  John Kerry        20191203
                John McCain       20191203
                Mitt Romney       20191203
                Other            100956015
                Ralph Nader       20191203

[31528 rows x 5 columns]

In [26]:
# find out how many counties are in each state
county_counts = df.groupby(["county"]).count()
# TODO gix this

,year,state,state_po,FIPS,office,candidate,party,candidatevotes,totalvotes,version
county,,,,,,,,,,
Abbeville,16,16,16,16,16,16,11,16,16,16
Acadia,16,16,16,16,16,16,11,16,16,16
Accomack,16,16,16,16,16,16,11,16,16,16
Ada,16,16,16,16,16,16,11,16,16,16
Adair,64,64,64,64,64,64,44,62,64,64
...,...,...,...,...,...,...,...,...,...,...
Yuba,16,16,16,16,16,16,11,16,16,16
Yuma,32,32,32,32,32,32,22,32,32,32
Zapata,16,16,16,16,16,16,11,16,16,16
Zavala,16,16,16,16,16,16,11,16,16,16
Ziebach,16,16,16,16,16,16,11,15,16,16

 add column for percentage

In [31]:
# add new columns for percent of total votes per county
df['percent'] = df['candidatevotes'] / df['totalvotes']
df.head()

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version,percent
0,2000,Alabama,AL,Autauga,1001.0,President,Al Gore,democrat,4942.0,17208,20191203,0.287192
1,2000,Alabama,AL,Autauga,1001.0,President,George W. Bush,republican,11993.0,17208,20191203,0.696943
2,2000,Alabama,AL,Autauga,1001.0,President,Ralph Nader,green,160.0,17208,20191203,0.009298
3,2000,Alabama,AL,Autauga,1001.0,President,Other,NaN,113.0,17208,20191203,0.006567
4,2000,Alabama,AL,Baldwin,1003.0,President,Al Gore,democrat,13997.0,56480,20191203,0.247822

just look at year 2016

In [37]:
# create boolean condition 
is_2016 = (df['year']==2016)
is_2016

0        False
1        False
2        False
3        False
4        False
         ...
50519     True
50520     True
50521     True
50522     True
50523     True
Name: year, Length: 50524, dtype: bool

In [38]:
# Plug in True Boolean to new DF
df_2016 = df[is_2016]
df_2016.head()

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version,percent
40517,2016,Alabama,AL,Autauga,1001.0,President,Hillary Clinton,democrat,5936.0,24973,20191203,0.237697
40518,2016,Alabama,AL,Autauga,1001.0,President,Donald Trump,republican,18172.0,24973,20191203,0.727666
40519,2016,Alabama,AL,Autauga,1001.0,President,Other,NaN,865.0,24973,20191203,0.034637
40520,2016,Alabama,AL,Baldwin,1003.0,President,Hillary Clinton,democrat,18458.0,95215,20191203,0.193856
40521,2016,Alabama,AL,Baldwin,1003.0,President,Donald Trump,republican,72883.0,95215,20191203,0.765457

In [ ]:
df2['percent'] = df2['candidatevotes'] / df2['totalvotes']
df2.head()

In [ ]:
# rename column to match name in geopandas df
df2 = df2.rename(columns={'county':'COUNTYNAME'})

In [ ]:
df2.count()
#df.dtypes
df2.head()

# Getting Shape file to load into GeoPandas

In [ ]:
# load shp file extracted from zipfile
county_shp = geopandas.read_file("c_03mr20.shp" )
county_shp.head(2)
#county_shp.dtypes
#county_shp.count()
 #county_shp.dtypes

In [ ]:
# join the geodataframe with the cleaned up csv 
#merged = df2.set_index('state').join(county_shp.set_index('STATE'))

merged = df2.merge(county_shp, how='outer')

In [ ]:
# tryconcat insted of merge

frames = [county_shp, df2]

result = pd.concat(frames)
result.count()
result.dtypes
result.head(100)

In [ ]:
try_this = county_shp.merge(df2, on='COUNTYNAME')
try_this